
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
/*
button go start html
*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #606969; /* Set a background color */
    color: #0f3534; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }
  .arrowUp{
      width:30px;
      height:30px;
  }




/*ANIMACION DE IMAGENES*/

.articleTestimony img {
    opacity: 0;
  }
  .articleService img {
    opacity: 0;
  }
  
  @keyframes animation {
    100% {
      opacity: 1;
    }
  }
  
  .articleTestimony.animate img {
    animation: animation 4s forwards;
  }
  .articleService.animate img {
    animation: animation 4s forwards;
  }
  

/* Input disabled*/
#email:disabled, #subject:disabled, #submit:disabled{
    background: #aaaaaa;
}

/*
    ESTILOS GENERALES
*/
a > img{
    width:70px;
}
/* Change testimonials */
#changeTestimonials{
    margin:auto;
    display:block;
}
.changeTestimonials{
    margin-top:60px;
}

/* fonts */
body,a,p{
    color:#8eb8b6;
    
    text-decoration: none;
}
body,a,p,h2,h1,h3{
    font-family: 'Nunito', sans-serif;
}
.overlay-text > p{
    color:white;
}
h1{
    font-size: 1.4rem;
}
.logo{
    display:flex;
    flex-direction: row;
}
.logo > a > img{
    border-radius: 50px;
    margin-right:20px;
}
header{
    display: block;
    margin: auto;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height:130px;
    display:flex;
    background-color:rgba(15, 53, 52, 0.5);
    justify-content: space-between;
    align-items:center;
    padding-right: 10px;
    z-index:100;
}
main{
    width: 100%;
    margin: auto;
    display: block;
    height: 100vh;
    max-height: 100%;
    position: relative;
    overflow: hidden;
}
body{
    margin:0;
    background-color: #273E3D;
}
.overlay-text {
    color: #fff;
    z-index: 2;
    position:absolute;
    top:40%;
    left:20%;
    
}
/*
    MOBILE FIRST
*/
.logo{
    display:flex;
    align-items: center;
}
button{
    background-color:#3A5554;
    color:white;
    border-radius: 10px;
}
nav{
    display:flex;
    flex-direction: column;
}
.form, .services, .testimony, .sub{
    padding-bottom:7px;
}
main > video {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
	display: block;
}
/* formulario*/
form{
    display:flex;
    flex-direction: column;
    width:70%;
    margin:auto;
    margin-top:50px;
}
input,label,textarea,form>button{
    margin-top:5px;
    margin-bottom:5px;
}
#submit{
    margin-top:20px;
}
input{
    height:30px;
}
/* PARA LAS WAVES*/
.testimonios{
    background-color:#0f3534;
    margin-top:-30px;
    margin-bottom: 30px;
}
svg{
    margin-bottom:-10px;
}
.hero > svg{
    position:absolute;
    bottom:0;
    z-index:5
}
.formulario >svg{
    margin-bottom: -29px;
}

/*Otros elementos*/
form>button, article > button{
    height:40px;
}
article> img{
    height:200px;
    width:200px;
}
.service-art{
    height:650px;
    width:80%;
    background-color:#606969;
    margin:auto;
    margin-top:2px;
    margin-bottom:2px;
    display:flex;
    flex-direction: column;
    margin-top:30px;
    padding-top:20px;
    padding-bottom:20px;
    border-radius:10px;
}
.service-art > img, .service-art> h2{
    margin:auto;
}
.service-art > h2{
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
}
.service-art > button{
    width:50%;
    margin: auto;
}
.service-art > p {
    text-align: justify;
    padding-right:15px;
    padding-left:15px;
}

.inside-services, .inside-testimonials{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin:auto;
    align-content: center;
    margin-top:20px;
}
/* line for separate title and text*/
.line{
    width:80%;
    margin:auto;
    height:3px;
    background-color: #8eb8b6;
}
.testimony-card{
    background-color:#606969;
    border-radius:10px;
    width:300px;
    height:400px;
}
.header > h2{
    text-align:center;
}
/*servicios > articulos*/
.service-art > h3{
    text-align: center;
}
/* FOOTER and others elements*/
footer{
    background-color: #0f3534;
}
footer > h2, .formulario > h2{
    text-align:center;
}
footer > iframe{
    display:block;
    margin:auto;
    margin-top:50px;
    padding-bottom: 100px;
}
footer > div:first-child, .formulario > div:first-child{
    margin-top:50px;
}



/*
    TABLET & DESKTOP
*/
/*576 es para movil*/
@media (min-width:800px){
    article> img{
        height:400px;
        width:400px;
    }
    .logo > a > img{
        margin-right:30px;
    }
    h1{
        font-size:2rem;
    }
    header{
        height:100px;
    }
    .overlay-text > h2{
        font-size: 3rem;
    }
    a > img{
        width:90px;
    }
    a{
        font-size:1.3rem;
    }
    button{
        font-size:1.1rem;
    }
    nav{
        flex-direction: row;
    }
    nav >a, .sub{
        margin-left: 15px;
        margin-right:15px;
        align-items:baseline;
    }
    input,label,textarea,form>button{
        margin-top:10px;
        margin-bottom:10px;
    }
    /*servicios > articulos*/
    /*testimonios > articulos*/
    .service-art > article, .inside-testimonials > article{
        height:630px;
        width:500px;
    }
    .service-art{
        width:40%;
    }
    .inside-services, .inside-testimonials {
        width:70%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .service-art{
        flex-direction: column;
        margin-top:50px;
        padding-top:20px;
        padding-bottom:20px;
    }
    
    
}/*FIN DE MEDIAQUERY*/



